<div>
    <ngx-annotate-text
        [(annotations)]="annotations"
        [removable]="true"
        [text]="textToLabel"
        annotationClass="my-annotation"
        (clickAnnotation)="onClickAnnotation($event)"
        (removeAnnotation)="onRemoveAnnotation($event)"
        #annotateText>
    </ngx-annotate-text>
</div>


<div class="labels-list">
    <button type="button" class="label-container" *ngFor="let label of labels" (click)="addAnnotation(label.label_name, label.label_color)">
        {{label.label_name}}
    </button>
</div>