<body>
    <div class="page-header">
        <h1>Label Manager</h1>
    </div>
    <div class="labels-list">
        <div class="label-container" *ngFor="let label of labels">
            <div class="label-name">
                {{label.label_name}}
            </div>
            <div class="label-color">
                {{label.label_color}}
            </div>
            <div class="delete-btn">
                <button (click)="deleteLabel(label.label_name)">Delete</button>
            </div>
        </div>
    </div>
</body>